# Source
*.py[cod]

# IDEA
.idea

# C extensions
*.so

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# App-specific
app.db
migrations

# Garbage Mac file
.DS_Store

# Virtual Env
venv
instance
