.container {
    max-width: 950px;
}

.page-content {
    padding-top: 45px;
}

.text-center {
    text-align: center;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

/* Index Style */
.list-group {
    padding-left: 0;
    margin-bottom: 20px;
}

.list-group-item {
    padding: 5px 10px;
}

.fa {
    /*padding-right: 15px;*/
    padding-right: 2px;
    padding-top: 5px;
}

/* Post Preview Style */
.post-preview-title {
    text-decoration: underline;
}

.post-preview-body {
    padding-left: 5%;
    padding-right: 5%;
}

/* About Page */
.social-about {
    color: #373737;
    /*text-decoration: no-underline;*/
}