{% set navigation_bar = [
    ('blog.index', 'Blog'),
    ('base.projects', 'Projects'),
    ('base.about', 'About')
] -%}

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a href="{{ url_for('base.index') }}" class="navbar-brand">The Kevin Crane</a>
    </div>

    <!-- Navbar Tabs -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% for id, caption in navigation_bar %}
          <li{% if id == active_page %} class="active"{% endif %}>
            <a href="{{ url_for(id) }}">{{ caption|e }}</a>
          </li>
        {% endfor %}
      </ul>
      <div class="nav navbar-nav navbar-right">
        <ul class="list-inline">
          <li><a target="_blank" href="http://www.twitter.com/thekevincrane" title="Twitter">
            <i class="fa fa-twitter fa-3x"></i></a>
          </li>
          <li><a target="_blank" href="http://www.github.com/kevincrane" class="social-navbar" title="Github">
            <i class="fa fa-github fa-3x"></i></a>
          </li>
          <li><a target="_blank" href="https://www.linkedin.com/in/thekevincrane" class="social-navbar" title="LinkedIn">
            <i class="fa fa-linkedin fa-3x"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>