<!-- Extends base layout -->
{% extends "kevcrablog/base_blog.html" %}
{% set active_page = "index" %}
{% import "macros/forms.html" as forms %}

{% block blog_main %}
  <div itemscope itemtype="http://schema.org/BlogPosting">
    <div class="blog-post-view">
      <h2 class="post-title" itemprop="name">{{ post.title }}</h2>
      <small class="post-created">
        Created <i itemprop="datePublished">{{ moment(post.created).calendar() }}</i> - <span itemprop="author">Kevin Crane</span>
      </small>
      <p class="post-body" itemprop="articleBody">{{ post.body|safe|markdown }}</p>

    </div>
    <hr class="star-primary"/>

    <!-- Comments -->
    <h3>Comments</h3>
    {% if post.comments %}
      {% for comment in post.comments %}
      <div itemscope itemtype="http://schema.org/UserComments">
        <p itemprop="commentText">{{ comment.body }}</p>
        <p>
          - <strong itemprop="creator">{{ comment.author }}</strong>
          - <small itemprop="commentTime">{{ moment(comment.created).calendar() }}</small>
        </p>
      </div>
      {% endfor %}
    {% else %}
      <p><i>No Comments...</i></p>
    {% endif %}

    <hr>
    <h2>Add a comment</h2>
    <form action="" method="post">
      {{ forms.render(form) }}
      <div class="actions">
        <input type="submit" class="btn primary" value="comment">
      </div>
    </form>
  </div>


  <!-- Previous page -->
  <p><a href="{{ url_for('.index') }}"><< Back to the rest</a>
{% endblock %}

{% block js %}
  <script type="text/javascript">
    $(document).ready(function () {
      $('pre code').each(function (i, e) {
        hljs.highlightBlock(e)
      });
    });
  </script>
{% endblock %}