<!-- Extends base layout -->
{% extends "base.html" %}
{% set active_page = "about" %}

{% block content %}
  <h3>About Kevin</h3>
  <ul>
    <li>Works as a software engineer at Twitter, building cool shit for the storage infrastructure of the
      site.
    </li>
    <li>Graduated from the <em>University of Southern California</em> in 2012 with a B.S. of Computer Science.
    </li>
    <li>Masters of Software Engineering from <em>Carnegie Mellon University</em> in 2013, just for good measure.</li>
    <li>Technology I love to work with:
      <ul>
        <li>Python, Java, C, Hadoop, Pig, cryptography, distributed systems, anything with Linux in it.</li>
      </ul>
    </li>
    <li>I also like water polo, rock climbing, guitar, and long walks on the beach.</li>
    <li>
      Come find me here so we can be friends!
      <ul>
        <a href="http://www.twitter.com/thekevincrane" class="social-about" style="text-decoration: none" target="_blank">
          <i class="fa fa-twitter"></i> <span class="underline-link"> try to be amusing on Twitter</span>
        </a><br/>
        <a href="http://www.github.com/kevincrane" class="social-about" style="text-decoration: none" target="_blank">
          <i class="fa fa-github"></i> <span class="underline-link">I code things on GitHub.</span>
        </a><br/>
        <a href="https://www.linkedin.com/in/thekevincrane" class="social-about" style="text-decoration: none" target="_blank">
          <i class="fa fa-linkedin"></i> <span class="underline-link">I pretend to be professional on LinkedIn.</span>
        </a>
      </ul>
    </li>
    <li>
      <h4>
        If you just came here looking for a resume,
        <a href="{{ url_for('static', filename='Kevin_Crane-Resume.pdf') }}" class="underline-link" target="_blank">
          then look no further</a>!
      </h4>
    </li>
  </ul>

  <h3>About This Site</h3>
  <ul>
    <li>
      Homemade, organic, all-natural website; built with "love".
      <ul>
        <li>Written in Python, powered using the Flask framework.</li>
        <li>Other technical stuff to be added later.</li>
        <li>View the source code for yourself <a href="https://github.com/kevincrane/kevcrablog" class="underline-link">here on GitHub!</a>
        </li>
      </ul>
    </li>
    <li>
      Infrastructure
      <ul>
        <li>Hosted with DigitalOcean</li>
        <li>Running on Ubuntu</li>
        <li>Served by nginx and uwsgi</li>
        <li>No more paying GoDaddy $6/month to host a useless Wordpress site, woo!</li>
      </ul>
    </li>
  </ul>
{% endblock %}