<!DOCTYPE html>
<html>
<head>
  {% if title %}
    <title>{{ title }} - The Kevin Crane</title>
  {% else %}
    <title>The Kevin Crane</title>
  {% endif %}
  {% set active_page = active_page|default('index') -%}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% include 'macros/css.html' %}
  <script src="{{ url_for('static', filename='js/vendor/jquery.min.js') }}"></script>

  <!-- highlight.js -->
  <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
  <!-- TODO: choose a style/theme for highlight.js -->
  <!-- TODO: Clean up Asset section a little/maybe move all JS to the bottom -->
</head>

<body>
<!-- Bootstrap Navbar -->
{% include 'macros/navbar.html' %}

<div class="container">
  <div class="page-content">
    <div class="col-md-12 col-centered">
      {% include 'macros/flash.html' %}

      {% block content %}
      {% endblock %}
    </div>
  </div>
</div>

{% include 'macros/javascript.html' %}
{% block js %}
{% endblock %}
</body>
</html>
