{% extends "base_blog.html" %}
{% set active_page = "index" %}

{% block blog_header %}
  <h1 class="text-center">The Kevin Crane</h1>
{% endblock %}

{% block blog_main %}
  <div class="well">
    <div id="post-preview-list">
      <h1>Posts</h1>
      <hr/>
      {% if posts and posts.items %}
        {% for post in posts.items %}
          <!-- Generate a preview of each blog post -->
          <h2 class="post-preview-title">
            <a href="{{ url_for('.view_post', post_id=post.id, slug=post.slug) }}">
            {{ post.title }}
            </a>
          </h2>
          <p class="post-preview-body">{{ post.body|safe|truncate(255)|markdown }}</p>
          {% if posts.page > 1 %}
            <a class="post-preview-read" href="{{ url_for('.view_post', post_id=post.id,
            slug=post.slug, prev_page=posts.page) }}">Read More!</a>
          {% else %}
            <a class="post-preview-read" href="{{ url_for('.view_post', post_id=post.id, slug=post.slug) }}">Read
              More!</a>
          {% endif %}
          <h6 class="post-preview-created">Created <i>{{ moment(post.created).calendar() }}</i></h6>
          <hr/>
        {% endfor %}

        <!-- Page Selector -->
        <div class="text-center">
          {{ pagination.links|safe }}
          {{ pagination.info|safe }}
        </div>
      {% else %}
        <h3>No blog posts found :(</h3>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block js %}
  <script type="text/javascript">
    $(document).ready(function () {
      $('pre code').each(function (i, e) {
        hljs.highlightBlock(e)
      });
    });
  </script>
{% endblock %}