<!-- Extends base layout -->
{% extends "base.html" %}

{% block content %}
  <header class="hero-unit" style="background-color: hotpink">
    <h1>BIG-ASS PLACEHOLDER</h1>
  </header>

  <div class="well">
    <div id="post-preview-list">
      <h2>Latest Post:</h2>
      <hr/>
      {% if frontpage_posts %}
        {% with post=frontpage_posts[0] %}
          <!-- Generate a preview of each blog post -->
          <h3 class="post-preview-title">
            <a href="{{ url_for('blog.view_post', post_id=post.id, slug=post.slug) }}">{{ post.title }}</a>
          </h3>
          <p class="post-preview-body">{{ post.body|safe|truncate(400)|markdown }}</p>
          <a class="post-preview-read" href="{{ url_for('blog.view_post', post_id=post.id, slug=post.slug) }}">Read More!</a>
          <small class="post-preview-created">Created <i>{{ moment(post.created).calendar() }}</i> |
            {% with num_comments=post.comments|length %}
              {{ num_comments }} comment {%- if num_comments != 1 %}s{%- endif -%}
            {% endwith %}
          </small>
        {% endwith %}
        <hr/>
        <h3>Recent Posts:</h3>
        <ul>
        {% for post in frontpage_posts[1:] %}
          <li><a href="{{ url_for('blog.view_post', post_id=post.id, slug=post.slug) }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
{% endblock %}